.span1 {
    color: rgb(233, 229, 3);
}

.Thediv2 {
    background-color: #00FF00;
}

.f24px {
    font-size: 24px;
}

a[target="_blank"] {
    color: yellow;
}

ul>li {
    font-weight: bold;
}
.item>span
{
    font-size: 18px;
}
.item>div>span 
{
    font-style: italic;
}

img{
    border: 3px solid black;
    margin: 0.5rem;
}